* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    display: grid;
    background-color: #444444;
    padding: 8px;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.cabecalho {
    grid-column: 100%;
    background-color: #cc2a2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
    grid-column: span 4;
}

.lateral {
    background-color: #45cc2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
    grid-row: 3 span;
    grid-column: 1 span;
}

.meio {
    grid-row: 3 span;
    grid-column: 2 span;
    background-color: #2aa6cc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
}

.direita-cima {
    grid-row: 1 span;
    grid-column: 1 span;
    background-color: #352acc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
}

.direita-baixo {
    grid-row: 2 span;
    grid-column: 1 span;
    background-color: #cc2a96;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    margin: 8px;
}